{% extends "base.html" %}
{% block content %}
  <h1>Johanneksen tripla</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a> <a class="btn btn-default">Varaa lippuja</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Esityspäivä:</strong> 16.12.2017</li>
    <li><strong>Sijainti:</strong> Johannesken kirkko</li>
    <li><strong>Status:</strong> <label class="label label-danger">Tulossa</label></li>
    <li><strong>Lisäyspäivä:</strong> 12.09.2017</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
   Kolmen konsertin suora, esitykset klo 15:00, 18:30 ja 21:00
  </p>
{% endblock %}