{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Ylioppilaskunnan Laulajien lipunvarausjärjestelmä</h1>
  </div>

  <p>Tämä järjestelmä on pystytetty Tietokanta-sovellus harjoitustyötä sekä YL:n omaa toimintaa varten. Ympäristön tehtävä on mahdollistaa lipunvaraus joulukonserttien (ja muidenkin) myyntiä varten, jotka lunastetaan erikseen määritetyiltä lippumiehiltä. Vuoden 2017 lippumiehet ovat:
  	<ul>
  	<li>1T: Tauno Tenori</li>
  	<li>2T: Toni Tenori</li>
  	<li>1B: Bert Baritoni</li>
  	<li>2B: Bob Basso</li>
  </ul></p>


  <p>
    <a href="/YL/konsertit" class="btn btn-primary btn-lg">Katso varattavat konsertit<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
